<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        type="text"
        matInput
        name="title"
        [ngModel]="post?.title"
        required
        placeholder="Enter your title"
        minlength="5"
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="10"
        name="content"
        [ngModel]="post?.content"
        required
        placeholder="Enter your content"
        minlength="50"
        #content="ngModel"></textarea>
        <mat-error *ngIf="content.invalid">Please enter a content</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit">Save Post</button>
  </form>
</mat-card>

